@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-heading {
  @apply text-primary lg:text-[128px] text-[55px];
}

.secondary-heading {
  @apply text-primary lg:text-[96px] text-[42px];
}
.third-heading {
  @apply text-description text-[22px] lg:text-4xl;
}

.grid-heading-with-primary-color {
  @apply text-primary lg:text-[80px] text-[40px];
}
.description-primary {
  @apply text-description text-base lg:text-2xl;
}
.description-secondary {
  @apply text-description/70 text-base lg:text-xl;
}

@keyframes mirror-reflection {
  0% {
    transform: scale(1) translateZ(0);
  }
  100% {
    transform: scale(0.1) translateZ(-1000px);
  }
}

.animate-mirror-reflection {
  animation: mirror-reflection 10s infinite linear;
}
.relative1 {
  perspective: 1000px;
}
