@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-heading {
  @apply text-primary sm:text-[128px] text-[55px];
}

.secondary-heading {
  @apply text-primary sm:text-[96px] text-[42px];
}

.grid-heading-with-primary-color{
  @apply text-primary sm:text-[80px] text-[40px]
}

